if lorri ping shell.nix >/dev/null 2>&1; then
    log_status "using lorri"
    eval "$(lorri direnv)"
else
    use nix shell.nix
fi

unset NIX_SSL_CERT_FILE SSL_CERT_FILE

if [[ -s ".env" ]]; then
    dotenv
fi
