on:
  pull_request:
    branches:
      - 'main'
    paths:
      - 'go.*'
      - '**.go'
  push:
    branches:
      - 'main'
    paths:
      - 'go.*'
      - '**.go'

jobs:
  build:
    name: 'Build'
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@master
      - uses: actions/setup-go@v2
      - name: 'go build'
        run: go build ./cmd/...
      - name: 'go test'
        run: go test -v ./...
  lint:
    name: 'Lint'
    runs-on: ubuntu-latest
    needs: [build] # wait for build to lint
    steps:
      - uses: actions/checkout@master
      - uses: actions/setup-go@v2
      - name: golangci-lint
        uses: golangci/golangci-lint-action@v2
        with:
          version: 'latest'
          skip-go-installation: true
